<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <!-- since the logging is in the LSP Client and we will not have access rights
        to VSCode extension directory fro writing logs, currently setting it to
        SYSTEM_ERR to getCompletionItems it in client logs. Also note that we need JUL bridge for logs
        to work -->
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
